body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

#header {
    background-color: #34003a;
    color: white;
    padding: 1em 2em; /* Espacio lateral para el contenido del header */
    display: flex;
    align-items: center; /* Alinea verticalmente los elementos en el centro */
}

.header1 {
    flex: 1; /* Toma el espacio disponible entre la imagen y el borde del header */
    display: flex;
    flex-direction: column; /* Organiza el texto en columna */
    align-items: center; /* Centra el texto horizontalmente dentro de este contenedor */
    text-align: center; /* Centra el texto dentro de este contenedor */
}

.header1 h1,
.header1 p {
    margin: 0;
}

.img img {
    width: 100px;  
    height: auto;
    border-radius: 10%;
}

#footer {
    background-color: #fae6ff;
    color: black;
    text-align: center;
    padding: 1em 0;
    width: 100%;
    bottom: 0;
}

#footer .titulo {
    font-size: 25px; 
    color: #0c001b;
    font-weight: bold; 
}

main {
    padding: 2em;
}

#sobre-mi {
    text-align: center;
}

.proyectos {
    margin-top: 2em;
    text-align: left;
}

a {
    color: #006ba9;
}

.img {
    margin-left: auto; /* Empuja la imagen hacia la derecha */
}

.experiencia {
    text-align: center;
}
